
---
import Layout from '../layouts/Layout.astro'
---

<Layout title="About the project">
    <h1> About the project </h1>
    <p>
        This project is a simple web app that uses the 
        SpaceX API to show information about the latest 
        launches.
    </p>
</Layout>
